repos:
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject
        additional_dependencies: ["validate-pyproject-schema-store[all]"]
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: v2.5.0
    hooks:
      - id: pyproject-fmt
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff-format
        entry: uv run --frozen ruff format --force-exclude
        types_or: [python, pyi, jupyter]
        language: system
        always_run: true
        require_serial: true
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run --frozen ruff check --fix --force-exclude
        types_or: [python, pyi, jupyter]
        language: system
        always_run: true
        require_serial: true
  - repo: local
    hooks:
      - id: deptry
        name: deptry
        entry: uv run --frozen deptry src
        language: system
        always_run: true
        pass_filenames: false
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
  - repo: local
    hooks:
      - id: import-linter
        name: import-linter
        entry: uv run --frozen lint-imports
        language: system
        always_run: true
        pass_filenames: false
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --frozen pyright
        language: system
        types_or: [python, pyi]
        always_run: true
        require_serial: true
