[build-system]
build-backend = "hatchling.build"

requires = [ "hatch-vcs", "hatchling" ]

[project]
name = "usethis"
description = "Automate Python project setup and development tasks that are otherwise performed manually."
readme = "README.md"
keywords = [ "init", "project", "setup", "start", "usethis" ]
license = { file = "LICENSE" }
authors = [
  { name = "Nathan McDougall", email = "nathan.j.mcdougall@gmail.com" },
]
requires-python = ">=3.10"
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Topic :: Software Development",
  "Topic :: Software Development :: Quality Assurance",
  "Topic :: Software Development :: Testing",
  "Typing :: Typed",
]
dynamic = [
  "urls",
  "version",
]
dependencies = [
  "mergedeep>=1.3.1",
  "packaging>=20.9",
  "pydantic>=2.5.0",
  "requests>=2.26.0",
  "rich>=9.6.1",
  "ruamel-yaml>=0.16.13",
  "tomlkit>=0.12.0",
  "typer>=0.4.1",
  "typing-extensions>=3.10.0.0",
]
scripts.usethis = "usethis.__main__:app"

[dependency-groups]
dev = [
  "datamodel-code-generator[http]>=0.28.2",
  "deptry>=0.23.0",
  "import-linter>=2.2",
  "pre-commit>=4.1.0",
  "pyright>=1.1.396",
  "ruff>=0.9.9",
]
test = [
  "coverage[toml]>=7.6.12",
  "gitpython>=3.1.44",
  "pytest>=8.3.5",
  "pytest-codspeed>=3.2.0",
  "pytest-cov>=6.0.0",
  "pytest-emoji>=0.2.0",
  "pytest-md>=0.2.0",
]
doc = [
  "mkdocs>=1.6.1",
  "mkdocs-material>=9.6.7",
]

[tool.hatch.version]
source = "vcs"

[tool.hatch.metadata.hooks.vcs.urls]
"Source Code" = "https://github.com/nathanjmcdougall/usethis-python"
"Bug Tracker" = "https://github.com/nathanjmcdougall/usethis-python/issues"
"Releases" = "https://github.com/nathanjmcdougall/usethis-python/releases"
"Source Archive" = "https://github.com/nathanjmcdougall/usethis-python/archive/{commit_hash}.zip"

[tool.hatch.build.hooks.vcs]
version-file = "src/usethis/_version.py"

[tool.ruff]
line-length = 88

lint.select = [
  "A",
  "C4",
  "D",
  "E4",
  "E7",
  "E9",
  "EM",
  "ERA",
  "F",
  "FIX002",
  "FURB",
  "I",
  "INP",
  "PLE",
  "PLR",
  "PT",
  "RUF",
  "SIM",
  "TC",
  "UP",
]
lint.ignore = [ "D417", "PLR2004", "SIM108" ]
lint.per-file-ignores."tests/**/*.py" = [ "D", "INP", "S101" ]
lint.pydocstyle.convention = "google"

[tool.codespell]
ignore-words-list = [ "edn" ]

[tool.pyproject-fmt]
keep_full_version = true

[tool.pytest.ini_options]
testpaths = [ "tests" ]
addopts = [
  "--import-mode=importlib",
]
filterwarnings = [ "error" ]

[tool.coverage.run]
source = [ "src" ]
omit = [ "*/pytest-of-*/*" ]

[tool.coverage.report]
exclude_also = [
  "if TYPE_CHECKING:",
  "raise AssertionError",
  "raise NotImplementedError",
  "assert_never(.*)",
  "class .*\\bProtocol\\):",
  "@(abc\\.)?abstractmethod",
]

[tool.uv]
default-groups = [ "test", "dev", "doc" ]

[tool.importlinter]
root_packages = [ "usethis" ]

[[tool.importlinter.contracts]]
name = "Modular Design"
type = "layers"
layers = [
  "_test",
  "__main__",
  "_app",
  "_interface",
  "_core",
  "_tool | _ci",
  "_integrations",
  "_console",
  "_config",
  "errors | _subprocess",
  "_pipeweld",
]
containers = [ "usethis" ]
exhaustive = true
exhaustive_ignores = [ "_version" ]

[[tool.importlinter.contracts]]
name = "Interface Independence"
type = "layers"
layers = [
  "badge | browse | ci | readme | show | tool | version",
]
containers = [ "usethis._interface" ]
exhaustive = true

[[tool.importlinter.contracts]]
name = "Integrations Modular Design"
type = "layers"
layers = [
  "bitbucket | github | pre_commit | pytest | ruff",
  "uv | pydantic | sonarqube",
  "pyproject_toml",
  "project | toml | yaml | python",
]
containers = [ "usethis._integrations" ]
exhaustive = true
