[build-system]
build-backend = "hatchling.build"

requires = [ "hatch-vcs", "hatchling" ]

[project]
name = "usethis"
description = "Automate Python project setup and development tasks that are otherwise performed manually."
readme = "README.md"
keywords = ["usethis", "project", "init", "setup", "start"]
license = { file = "LICENSE" }
authors = [
  { name = "Nathan McDougall", email = "nathan.j.mcdougall@gmail.com" },
]
requires-python = ">=3.12"
classifiers = [
  "Development Status :: 2 - Pre-Alpha",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
  "Topic :: Software Development",
  "Topic :: Software Development :: Quality Assurance",
  "Topic :: Software Development :: Testing",
]
dynamic = [
  "urls",
  "version",
]
dependencies = [
  "mergedeep>=1.3.4",
  "packaging>=24.1",
  "pydantic>=2.9.2",
  "requests>=2.32.3",
  "rich>=13.8.1",
  "ruamel-yaml>=0.18.6",
  "tomlkit>=0.13.2",
  "typer>=0.12.5",
]
scripts.usethis = "usethis.__main__:app"

[dependency-groups]
dev = [
  "deptry>=0.20.0",
  "import-linter>=2.1",
  "pre-commit>=4.0.1",
  "pyproject-fmt>=2.4.3",
  "ruff>=0.7.1",
]
test = [
  "coverage[toml]>=7.6.3",
  "gitpython>=3.1.43",
  "pytest>=8.3.2",
  "pytest-cov>=5.0.0",
  "pytest-emoji>=0.2.0",
  "pytest-md>=0.2.0",
]

[tool.hatch.version]
source = "vcs"

[tool.hatch.metadata.hooks.vcs.urls]
"Source Code" = "https://github.com/nathanjmcdougall/usethis-python"
"Bug Tracker" = "https://github.com/nathanjmcdougall/usethis-python/issues"
"Releases" = "https://github.com/nathanjmcdougall/usethis-python/releases"
"source_archive" = "https://github.com/nathanjmcdougall/usethis-python/archive/{commit_hash}.zip"

[tool.ruff]
line-length = 88

src = [ "src" ]
lint.select = ["C4", "E4", "E7", "E9", "F", "FURB", "I", "PLE", "PLR", "RUF", "SIM", "UP", "PT"]

[tool.pytest.ini_options]
testpaths = [ "tests" ]
addopts = [
  "--import-mode=importlib",
]

[tool.coverage.run]
source = [ "src" ]
omit = [ "*/pytest-of-*/*" ]

[tool.uv]
default-groups = [ "test", "dev" ]

[tool.importlinter]
root_packages = [ "usethis" ]

[[tool.importlinter.contracts]]
name = "Modular Design"
type = "layers"
layers = [
  "__main__",
  "_interface",
  "_tool",
  "_integrations",
  "_console",
  "_utils",
]
containers = [ "usethis" ]
exhaustive = true
