name: Release to PyPI
permissions: {}
on:
  push:
    tags:
      - "v*"
jobs:
  build:
    name: Build Distributions
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Set up uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          version: "latest"
          enable-cache: false

      - name: Build distributions
        run: uv build

      - name: Upload distributions
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: dists
          path: dist/
          if-no-files-found: error

  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      id-token: write # for Trusted Publishing
    needs: build

    environment: release

    steps:
      - name: Set up uv
        uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d # v7.1.0
        with:
          version: "latest"
          enable-cache: false
      - name: Download distributions
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: dists
          path: dist/

      - name: Publish
        run: |
          uv publish --trusted-publishing always dist/*
